*.csv
.DS_Store
.env
__pycache__/
.ipynb_checkpoints/
google_bigquery_credential.json

node_modules/

crontab
log.txt
address_metadata/metadata/
address_metadata/metadata_1/
address_metadata/metadata_old/
address_metadata/twitter_usernames/

address_metadata/logs/
twitter_info/
last_uploaded_timestamp.json